



body{
    display: flex;
flex-direction: column;
margin: 0;
height: 100%;
background-color: grey;
min-width: 760px;
}
html{
    height:100%;
}
.header{
    display: flex; 
    justify-content: space-evenly;

    background-color: #1f2931;
    color: white;
   
    flex-basis:300px;
}
.links{
    display: flex;
    list-style-type: none;
        gap: 16px;
}

.logo{
    font-weight: 700;
    font-size: larger;
}


.imga{
    height: 200px;
    width: 400px;
  
}

 img{
    height: 100px;
    width: 100px;

 }

 
 .lis{
    display: flex;
    justify-content: center;
    gap:60px;
    flex-wrap: wrap;
 }
 .text{
  text-align: center;
 }
 .oil {
   border: 5px solid blue;
 }
.is{
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


p{
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
 font-size: large;
    width: 500px;
}

.first{
display: flex;
flex-direction: column;
gap:33px;
}



.catch{
    width:200px;
    font-weight: bolder;
    margin: 0;
}

.io {
    margin-bottom: 40px;
}

.Sechand{
    display:flex;
    justify-content:center;
    margin:32px;
    font-weight:bolder;
    font-size:x-large;
    }

    .ute{
        padding: 5px 24px;
    }

  .fourth{
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220.5px;
  }
h4.st{
    padding-right: 12px;
    margin: 0;
    align-self: flex-end;
}
.thor{
    display: flex;
    flex-direction: column;
}
.third  {
    min-height: 320px;
    flex-basis:320px;
}
    